<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            codieal /<%= title %>
        </h1>
 <p>
    Name: <%= user.name %>
 </p>
 <p>Email: <%= user.email %></p>

 <form action="/users/logout"  method="get">
 <input type="submit" class="signout btn btn-warning" value="logout" name="logout">
</form>